<a href="{{ "/blog" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Blog</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<!--<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->
<a href="{{ "/documentation" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Documentation</h2></a>
<a href="{{ "/resources" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Resources</h2></a>